{
  "ci": false,
  "branches": ["main", {name: 'develop', prerelease: true}],
  "tagFormat": "v${version}+${process.env.build_number}",
  "plugins": ['@semantic-release/commit-analyzer', '@semantic-release/release-notes-generator']
}
